  <%= form_with(model: organisation, local: true) do |form| %>
    <% if organisation.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(organisation.errors.count, "error") %> prohibited this organisation from being saved:</h2>

        <ul>
        <% organisation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :organisation_name%>
      <%= form.text_field :name, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :organisation_location %>
      <%= form.text_field :location, :class => "form-control" %>
    </div>


    <%= form.fields_for :users do |user| %> 
    <div class="form-group">
      <%= user.label :user_name %>
      <%= user.text_field :name, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= user.label :email %>
      <%= user.text_field :email, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= user.label :password %>
      <%= user.text_field :password, :class => "form-control" %>
    </div>

    <%end%>




    <div class="actions">
      <%= form.submit "Save", :class => "btn btn-info" %>
    </div>
  <% end %>
