    <div class="container">
        <div class="row text-center ">
            <div class="col-md-12">
                <br /><br />
                <h2>Login</h2>

                <h5>( Login yourself to get access )</h5>
                 <br />
            </div>
        </div>
         <div class="row ">

                  <div class="col-md-12 ">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                        <strong>   Enter Details To Login </strong>
                            </div>
                            <div class="panel-body">
                                <%#= form_with(model: user, local: true) do |form| %>

                                       <br />
                                     <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="fa fa-tag"  ></i></span>
                                            <input type="text" class="form-control" placeholder="Your Username" name="username" />
                                        </div>
                                                                              <div class="form-group input-group">
                                            <span class="input-group-addon"><i class="fa fa-lock"  ></i></span>
                                            <input type="password" class="form-control" placeholder="Your Password" name="password" />
                                        </div>
                                    <div class="form-group">


                                        </div>

                                     <input type="submit" name="login" class="btn btn-primary " value="Login Now" />
                                    

      
        <%= link_to 'Sing Up', new_organisation_path, class: 'btn btn-info' %>
     
<% if user_signed_in? %>
  <%= link_to "Edit profile", edit_user_registration_path %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path  %> |
  <%= link_to "Login", new_user_session_path  %>
<% end %>
                                    <%#end%>


